snippet bi 
![${1: name}]({{site.url}}/assets/images/blog/${2}.png)
endsnippet

snippet cd
//
//  Created by longjianjiang on ${1}/${2}/${3}.
//  Copyright © 2019 longjianjiang. All rights reserved.
//
endsnippet

snippet ch
#ifndef ${1}
#define ${2}

#endif /* ${3} */
endsnippet

snippet code
{% highlight ${1}%}
{% endhighlight %}
endsnippet
