snippet head
#include <iostream>
#include <vector>
#include <string>
#include <stack>
#include <queue>
#include <map>
#include <set>
#include <unordered_set>
#include <unordered_map>
using namespace std;
endsnippet

snippet main
int main() {
	unit_test();
	return 0;
}
endsnippet

snippet ut
void unit_test() {
	Solution s;
}
endsnippet
